.contactSection {
  gap: 100px;
}

.rightSideAugment {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.rightSideAugment h2 {
  font-size: 40px;
  line-height: 50px;
  text-transform: none;
  font-weight: 700;
  color: var(--text-hero);
}

.rightSideAugment p {
  font-size: 20px;
  color: #808dab;
  line-height: 30px;
  margin-top: 10px;
}

.btn-augment {
  background-color: #3b5fff;
  color: white ;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.btn-augment:hover {
  background-color: #2d0b52;
}

.contact-container {
  margin-top: 100px;
  display: flex;
  gap: 70px;

  .contact-info-container {
    background: #fff;
    border-radius: 20px;
    width: 500px;
    padding: 32px;
    box-shadow:0px 4px 10px #0000001a;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 22px;
      font-weight: 700;
      color: #0f172a;
      margin-bottom: 10px !important;
    }

    p {
      font-size: 14px;
      color: #6b7280;
      margin-bottom: 30px !important;;
    }

    .info-item {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 24px !important;;
      font-size: 15px;
      color: #0f172a;
      line-height: 1.4;

      i {
        font-size: 18px;
        color: #fff;
                background: var(--text-hero);
                        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
      }
    }

    .social-icons {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      margin-top: auto !important;;

      a {
        width: 36px;
        height: 36px;
        background: var(--text-hero);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .contact-form {
    width: 100%;

    .row {
      display: flex;
      gap: 20px;
    }

    .form-group {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 14px;
        margin-bottom: 5px;
        color: #888;
      }

      input,
      textarea {
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #0f172a;
        }
      }

      textarea {
        resize: none;
        height: 80px;
      }
    }


    .form-group.full {
      width: 100%;
    }

   
  }
}

@media only screen and (max-width: 990px) {
  .contactSection {
    flex-direction: column;
    padding: 20px;
    gap: 50px;
  }
.leftSide img{
    width: 100%;
}
  .rightSideAugment {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .rightSideAugment h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .rightSideAugment p {
    font-size: 16px;
    line-height: 24px;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .contact-info-container,
  .contact-form {
    width: 100%;
  }
    .contact-info-container  {
      width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
  .arrorSend{
    display: none;
  }
}