<div class="heroSection">
    <div class="dataHero container d-flex justify-content-center vh90 flex-column ">
        <h1 class="heading-title">Designing your next <span class="cl-with-gradient">business.</span></h1>

        <p class="decHero">Small business, big opportunity? We help our clients exploit technology to strategically
            reshape their business around digital economy.</p>


        <div class="btn-container">
            <button class="btn-primary">Discover Now</button>
            <button class="btn-outline">How it Works</button>
        </div>
    </div>
</div>