<div class="augment container d-flex align-items-center  ">

    <div class="leftSideAugment position-relative">
        <div class="boxTopLeft position-absolute">
            <img src="Image/pattern-001.webp" alt="">

        </div>
        <div class="boxbottomRight position-absolute">
            <img src="Image/pattern-002.webp" alt="">

        </div>
        <div class="cardCustomers">
            <h3>5K</h3>
            <p> Customers</p>
        </div>
        <img src="Image/img-agency-22-min.webp" alt="">
    </div>
    <div class="rightSideAugment">
        <h2>Augment your brand, and heighten your business</h2>
        <p>Discover how AI can transform your business operations, enhance customer experiences, and drive innovation.
            Explore our range of AI solutions tailored to meet your unique needs.</p>
        <button class="btn btn-augment">Get Started</button>
    </div>

</div>