/* You can add global styles to this file, and also import other style files */


:root {
  /* Colors */
  --white: #ffffff;
  --pink: #f78da7;
  --red: #cf2e2e;
  --orange: #ff6900;
  --amber: #fcb900;
  --light-green: #7bdcb5;
  --green: #00d084;
  --light-blue: #8ed1fc;
  --blue: #0693e3;
  --purple: #9b51e0;
  --text-hero : #321370;
   --green-color: #6AC75A;
  --primary-color: #4C6FFF;

  /* Gradients */
  --grad-blue-purple: linear-gradient(135deg, #0693e3 0%, #9b51e0 100%);
  --grad-lightgreen-green: linear-gradient(135deg, #7adcB4 0%, #00d082 100%);
  --grad-amber-orange: linear-gradient(135deg, #fcb900 0%, #ff6900 100%);
  --grad-orange-red: linear-gradient(135deg, #ff6900 0%, #cf2e2e 100%);
  --grad-lightgray-gray: linear-gradient(135deg, #eeeeee 0%, #a9b8c3 100%);
  --grad-cool-warm: linear-gradient(135deg, #4aeadc 0%, #9778d1 20%, #cf2aba 40%, #ee2c82 60%, #fb6962 80%, #fef84c 100%);
  --grad-pink-purple: linear-gradient(135deg, #ffceec 0%, #9896f0 100%);
  --grad-blush-bordeaux: linear-gradient(135deg, #fecda5 0%, #fe2d2d 50%, #6b003e 100%);
  --grad-dusk: linear-gradient(135deg, #ffcb70 0%, #c751c0 50%, #4158d0 100%);
  --grad-ocean: linear-gradient(135deg, #fff5cb 0%, #b6e3d4 50%, #33a7b5 100%);
  --grad-electric-grass: linear-gradient(135deg, #caf880 0%, #71ce7e 100%);
  --grad-midnight: linear-gradient(135deg, #020381 0%, #2874fc 100%);

  /* Font sizes */
  --fs-sm: 13px;
  --fs-md: 20px;
  --fs-lg: 36px;
  --fs-xl: 42px;

  /* Spacing */
  --sp-20: 0.44rem;
  --sp-30: 0.67rem;
  --sp-40: 1rem;
  --sp-50: 1.5rem;
  --sp-60: 2.25rem;
  --sp-70: 3.38rem;
  --sp-80: 5.06rem;

  /* Shadows */
  --shadow-natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --shadow-deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --shadow-sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --shadow-outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
  --shadow-crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}


ul {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--color_link);
}

.cr {
  cursor: pointer !important;
}

.form-control {
  display: inline !important;
}

.form-control {
  display: inline !important;
  box-shadow: none !important;

}

.form-control.is-invalid {
  border-color: #B90000 !important;

} 
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
.vh90{
  height: 90vh;
}
.line{
  height: 1px;
  background-color: #7b88a7;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}