<div class="container navBar">

    <nav>
        <div class="logo gap-3">
            <img src="Image/new logo.svg" alt="" width="50">
            <p class="cl-with-gradient"> AlTormedta</p>
        </div>

        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="right-section">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <button class="btn">Get Started</button>
        </div>
    </nav>


</div>