<div class="container navBar">
  <nav>
    <!-- Logo -->
    <div class="logo gap-3">
      <img src="Image/new logo.svg" alt="" width="50">
      <p class="cl-with-gradient">Altromeda</p>
    </div>

    <!-- Links (Desktop) -->
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About Us</a></li>
      <li><a routerLink="/services" routerLinkActive="active-link">Service</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    </ul>
    <!-- Right Section -->
    <div class="right-section">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <button class="btn">Get Started</button>
      <!-- Hamburger Menu -->
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>

  <!-- Fullscreen Menu -->
 <div class="overlay" [class.active]="isMenuOpen">
    <button class="close-btn" (click)="toggleMenu()">&times;</button>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link" (click)="toggleMenu()">About Us</a></li>
      <li><a routerLink="/services" routerLinkActive="active-link" (click)="toggleMenu()">Service</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link" (click)="toggleMenu()">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" (click)="toggleMenu()">Contact</a></li>
    </ul>
  </div>
</div>
